# Python for Finance
### by Derek Banas
[Youtube Playlist](https://www.youtube.com/playlist?list=PLGLfVvz_LVvTHOWIEBAl-YOr_FC8lRmWX)

## Imports

In [ ]:
import numpy as np
import pandas as pd
from pandas_datareader import data as web
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import datetime as dt
import mplfinance as mpf

## Function that saves stock data to CSV

In [ ]:
def save_to_csv_from_yahoo(ticker, syear, smonth, sday, eyear, emonth, eday):
    start = dt.datetime(syear, smonth, sday)
    end = dt.datetime(eyear, emonth, eday)

    df = web.DataReader(ticker, 'yahoo', start, end)

    df.to_csv("./" + ticker + ".csv")
    return df

## Function that returns a dataframe from a CSV

In [ ]:
def get_df_from_csv(ticker):
    try:
        df = pd.read_csv("./" + ticker + '.csv')
    except FileNotFoundError:
        print("File not found")
    else:
        return df

## Add daily return to dataframe

## Returns total return over time

## Test functions

In [20]:
# save_to_csv_from_yahoo('AMZN', 2021, 1, 1, 2021, 6, 30)
ticker = get_df_from_csv('GOGL')
ticker

           Date   High    Low   Open  Close     Volume  Adj Close
0    2021-01-04   4.92   4.73   4.89   4.78   338400.0   4.666407
1    2021-01-05   4.93   4.77   4.87   4.86   517800.0   4.744506
2    2021-01-06   4.89   4.82   4.86   4.87   195400.0   4.754268
3    2021-01-07   5.01   4.93   4.98   5.00   517500.0   4.881179
4    2021-01-08   5.42   5.33   5.33   5.42   550000.0   5.291198
..          ...    ...    ...    ...    ...        ...        ...
119  2021-06-24  10.75  10.45  10.54  10.72   774600.0  10.720000
120  2021-06-25  11.39  11.16  11.27  11.18  1414100.0  11.180000
121  2021-06-28  11.17  10.80  11.15  10.89  1229400.0  10.890000
122  2021-06-29  10.96  10.74  10.87  10.74   560600.0  10.740000
123  2021-06-30  11.15  10.88  10.94  11.04  1499600.0  11.040000

[124 rows x 7 columns]