## Reverse Text

In [1]:
def reverse_string(text):
    txet = ""
    for letter in text:
        txet = letter + txet
    return txet

print(reverse_string("Hello, world!"))

!dlrow ,olleH

## Sum 2D matrix

In [2]:
def sum_2d_matrix(matrix):
    total = 0
    for row in matrix:
        for column in row:
            total += column
    return total

print(sum_2d_matrix([[1,2,3],[4,5,6],[7,8,9]]))

45

In [3]:
def two_sum(matrix, sum):
    for m in range(len(matrix) - 1):
        for n in range(m + 1, len(matrix)):
            if matrix[m] + matrix[n] == sum:
                return([matrix[m], matrix[n]])

print(two_sum([1,2,3,4,5], 8))

[3, 5]

In [4]:
import itertools as it
x = it.product([1,2,3], [10, 20, 30])
for i in x:
    print(i)

(1, 10)
(1, 20)
(1, 30)
(2, 10)
(2, 20)
(2, 30)
(3, 10)
(3, 20)
(3, 30)

In [5]:
import urllib, json

joke = json.loads(urllib.request.urlopen("https://yomomma-api.herokuapp.com/jokes").read())

print(joke.get("joke"))

Yo momma is so tall that she tripped in Michigan and bumped her head in Florida.

In [6]:
x = [
    ('A', 10),
    ('B', 25),
    ('C', 21),
    ('D', 19),
    ('E', 29),
    ('F', 12)
]
y = [(a, n) for (n, a) in x if a > 20]
print(y)

x = [2, -5, 8]
y = [n * 5 for n in x]
print(y)

a = [1, 3, 5, 7]
b = [2, 4, 6, 8]
c = [m * n for m in a for n in b]
d = [(m, n) for m in a for n in b]
print(c)
print(d)

[(25, 'B'), (21, 'C'), (29, 'E')]
[10, -25, 40]
[2, 4, 6, 8, 6, 12, 18, 24, 10, 20, 30, 40, 14, 28, 42, 56]
[(1, 2), (1, 4), (1, 6), (1, 8), (3, 2), (3, 4), (3, 6), (3, 8), (5, 2), (5, 4), (5, 6), (5, 8), (7, 2), (7, 4), (7, 6), (7, 8)]

In [7]:
from datetime import datetime
import pickle

class Pessoa:

    def __init__(self, nome, sexo, nascimento) -> None:
        self.nome = nome
        self.nascimento = nascimento
        self.sexo = sexo

    def idade(self):
        delta =  datetime.now() - self.nascimento
        return f"{delta.days} dias" 

p = Pessoa("Alexandre", "M", datetime(1971, 3, 22))
print(p.idade())

print(pickle.dumps(p))

18729 dias
b'\x80\x04\x95s\x00\x00\x00\x00\x00\x00\x00\x8c\x08__main__\x94\x8c\x06Pessoa\x94\x93\x94)\x81\x94}\x94(\x8c\x04nome\x94\x8c\tAlexandre\x94\x8c\nnascimento\x94\x8c\x08datetime\x94\x8c\x08datetime\x94\x93\x94C\n\x07\xb3\x03\x16\x00\x00\x00\x00\x00\x00\x94\x85\x94R\x94\x8c\x04sexo\x94\x8c\x01M\x94ub.'

In [8]:
def getprime():
    primes = []
    number = 2
    while True:
        prime = True
        for n in primes:
            if number % n == 0:
                prime = False
        if prime:
            primes.append(number)
            yield number
        number += 1

n = 1
for p in getprime():
    print(p)
    n += 1
    if n > 10:
        break

2
3
5
7
11
13
17
19
23
29

In [84]:
import pandas as pd
import html5lib

ds = pd.read_html("https://en.wikipedia.org/wiki/List_of_largest_cities")[1]

In [114]:
df = ds.iloc[1:,[0, 1, 2]]
df.columns = ["City", "Country", "Population"]
for country, cities in df.groupby("Country"):
    print(f'[{country}]------------------------')
    print(cities.iloc[:, [0, 2]])

[Angola]------------------------
      City  Population
44  Luanda   7774000.0
[Argentina]------------------------
            City  Population
13  Buenos Aires  14967000.0
[Bangladesh]------------------------
    City  Population
9  Dhaka  19578000.0
[Brazil]------------------------
              City  Population
4        São Paulo  21650000.0
19  Rio de Janeiro  13293000.0
66  Belo Horizonte   5972000.0
[Canada]------------------------
       City  Population
63  Toronto   6082000.0
[Chile]------------------------
        City  Population
55  Santiago   6680000.0
[China]------------------------
         City  Population
3    Shanghai  25582000.0
8     Beijing  19618000.0
14  Chongqing  14838000.0
20    Tianjin  13215000.0
22  Guangzhou  12638000.0
25   Shenzhen  11908000.0
40    Chengdu   8813000.0
41    Nanjing   8245000.0
42      Wuhan   8176000.0
47      Xi'an   7444000.0
48  Hong Kong   7429000.0
49   Dongguan   7360000.0
50   Hangzhou   7236000.0
51     Foshan   7236000.0
52   Shenyang   6921000.0
58     Suzhou   6339000.0
60     Harbin   6115000.0
75    Qingdao   5381000.0
76     Dalian   5300000.0
80      Jinan   5052000.0
[Colombia]------------------------
      City  Population
29  Bogotá  10574000.0
[DR Congo]------------------------
        City  Population
21  Kinshasa  13171000.0
[Egypt]------------------------
          City  Population
6        Cairo  20076000.0
79  Alexandria   5086000.0
[France]------------------------
     City  Population
28  Paris  10901000.0
[India]------------------------
         City  Population
2       Delhi  28514000.0
7      Mumbai  19980000.0
16    Kolkata  14681000.0
27  Bangalore  11440000.0
31    Chennai  10456000.0
36  Hyderabad   9482000.0
45  Ahmedabad   7681000.0
56      Surat   6564000.0
59       Pune   6276000.0
[Indonesia]------------------------
       City  Population
30  Jakarta  10517000.0
[Iran]------------------------
      City  Population
38  Tehran   8896000.0
[Iraq]------------------------
       City  Population
54  Baghdad   6812000.0
[Japan]------------------------
       City  Population
1     Tokyo  37468000.0
10    Osaka  19281000.0
35   Nagoya   9507000.0
70  Fukuoka   5551000.0
[Malaysia]------------------------
            City  Population
46  Kuala Lumpur   7564000.0
[Mexico]------------------------
           City  Population
5   Mexico City  21581000.0
81  Guadalajara   5023000.0
[Myanmar]------------------------
      City  Population
78  Yangon   5157000.0
[Nigeria]------------------------
     City  Population
18  Lagos  13463000.0
[Pakistan]------------------------
       City  Population
12  Karachi  15400000.0
26   Lahore  11738000.0
[Peru]------------------------
    City  Population
32  Lima  10391000.0
[Philippines]------------------------
      City  Population
17  Manila  13482000.0
[Russia]------------------------
                City  Population
24            Moscow  12410000.0
74  Saint Petersburg   5383000.0
[Saudi Arabia]------------------------
      City  Population
53  Riyadh   6907000.0
[Singapore]------------------------
         City  Population
67  Singapore   5792000.0
[South Africa]------------------------
            City  Population
73  Johannesburg   5486000.0
[South Korea]------------------------
     City  Population
34  Seoul   9963000.0
[Spain]------------------------
         City  Population
57     Madrid   6497000.0
72  Barcelona   5494000.0
[Sudan]------------------------
        City  Population
71  Khartoum   5534000.0
[Tanzania]------------------------
             City  Population
64  Dar es Salaam   6048000.0
[Thailand]------------------------
       City  Population
33  Bangkok  10156000.0
[Turkey]------------------------
        City  Population
15  Istanbul  14751000.0
[United Kingdom]------------------------
      City  Population
37  London   9046000.0
[United States]------------------------
                            City  Population
11                      New York  18819000.0
23                   Los Angeles  12458000.0
39                       Chicago   8864000.0
61                       Houston   6115000.0
62                        Dallas   6099000.0
65                         Miami   6036000.0
68                  Philadelphia   5695000.0
69                       Atlanta   5572000.0
77  Washington metropolitan area   5207000.0
[Vietnam]------------------------
                City  Population
43  Ho Chi Minh City   8145000.0